/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ##################################################################### */
/* ##########################  GENERAL  ############################### */
/* ##################################################################### */
body{
  font-family: 'Oswald', sans-serif;
  background-color: #F1F2F3;
}

header{
  width: 100%;
  height: 350px;
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-color: white;
}

li{
  list-style: none;
}


h2{

  font-family: 'Oswald', sans-serif;
  padding-top: 80px;
  width: 400px;
  font-size: 2em;
  text-align: center;
}

h3{
  color: #71C1CB;
  margin-top: 10px;
  margin-bottom: 10px;
}

table{
  margin-bottom: 15px;
}

/* ##################################################################### */
/* ##########################   ACCEUIL  ############################### */
/* ##################################################################### */

/***************HEADER*************/
/*********************************/

.menu{
  display: flex;
  justify-content: center;
  width: 100%;

}

.menu a {

  padding: 10px 40px 10px 40px;
  margin-left: 2px;
  background-color: #71C1CB;
  color: white;
  border-radius: 5px;


}


.container-index{
  display: none;
}

.menu a:hover{
  background-color: #C23B22;
}

a:hover{
  text-decoration: none;
}

a.selected{
  background-color: #C23B22;
}

/*************CONTAINER************/
/*********************************/
.carousel{
  margin-top: 20px;
  height: 400px;
}

.first,
.second,
.third {
  min-height: 400px;
  min-width: 100%;

}
.container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.prix{
  width: 300px;
  text-align: center;
}

.contact{
  padding-right: 40px;
  text-align: center;
  margin-left: 10px;
  height: 200px;
  background-color: #44B5C2;
}


.phone{
  font-size: 2em;
  font-weight: bold;
  margin-top: 50px;
}

.name{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
}

.general{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;

}

 .devis a{

  padding: 10px 40px 10px 40px;
  background-color: white;
  font-weight: bold;
  color: grey;
}

.devis{
  margin-top: 100px;
}

.map{
  background-image: url('../img/carte.png');
  background-size: cover;
}

.goutte{
  background-color: white;
}

section{
  display: flex;
  width: 100%;
  justify-content: center;
}

article{
  background-color: white;
}

.underline{
  background-color: #AEC6CF;
}

/*************FOOTER**************/
/*********************************/

footer{
  width: 100%;
  height: 300px;
  background-color: grey;
}

.top{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social{
  text-align: center;
}

.media{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}


.title{
  width: 150px;
}


/* ##################################################################### */
/* ##########################   ACCEUIL END ############################ */
/* ##################################################################### */

#exampleSelect1{
  height: 60px;
}
.form-group{
  padding-top: 20px;
}
.btn-primary{
  margin-bottom: 10px;
}
/* ##################################################################### */
/* ##########################   CONTACT  ############################### */
/* ##################################################################### */
.control-custom{
  width: 300px;
  margin-top: 20px;
}
.control-message{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 150px;
}
/* ##################################################################### */
/* ########################   REALISATIONS  ############################ */
/* ##################################################################### */
.rea{
  display: flex;
  margin-left: 10px;
  width: 320px;
  justify-content: space-between;
}

.bain{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* ##################################################################### */
/* #############################  DEVIS  ############################### */
/* ##################################################################### */

label{
  width: 100px;
  padding-top: 30px;
  padding-bottom: 20px;
}

textarea{
  width: 60%;
  height: 100px;
  margin-bottom: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin-bottom: 20px;
  box-shadow: none;
  background-color: #44B5C2;
}

#first,
#second,
#third,
#fourth{
  width: 90px;
}

#intervention{
  width: 90%;
  height: 70px;
  background-color: white;
}

#ville,
#prenom,
#nom,
#telephone,
#mail{
  width: 70%;
  height: 50px;
}

h4{
  margin-top: 20px;
  color: #44B5C2;
}
/*###################### MEDIA QUERIES ########################*/


   @media (max-width: 905px){
nav{
  display: none;
}

section{
  display: none;
}
.container-index{
  margin-top: 0px;
  padding-top: 20px;
  display: block;


}
span{
  text-align: left;

}
.menu-sm{
  font-size: 1.7em;
}
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
